<div style="height: 400px;" class="row">
    <uib-carousel interval="5000" active="carouselActive" no-pause="false">

        <uib-slide index="0">
            <img ng-src="img/bg1.jpg" style="margin:auto;">
            <div class="carousel-caption">
                <h4>Slide 1</h4>
                <p>Super slide!!</p>
            </div>

        </uib-slide>
        <uib-slide index="1">
            <img ng-src="img/bg2.jpg" style="margin:auto;" >
            <div class="carousel-caption">
                <h4>Slide 2</h4>
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="fa fa-rocket"></span>
                <p>Super aaaaa!!</p>
            </div>

        </uib-slide>
    </uib-carousel>
</div>